## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>
ExpiresByType text/html "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType application/x-shockwave-flash "access 1 month"
ExpiresByType image/x-icon "access 1 year"
ExpiresDefault "access 1 month"
</IfModule>
## EXPIRES CACHING ##

RewriteEngine On
RewriteCond %{HTTP_HOST} !^www.rsiwal.com$ [NC]
RewriteRule ^(.*)$ http://www.rsiwal.com/$1 [L,R=301]